[Desktop Entry]
Name=Trilium Notes
Comment=Build your personal knowledge base with Trilium Notes
GenericName=triliumnext
Exec=triliumnext %U
Icon=triliumnext
Type=Application
StartupNotify=true
StartupWMClass=Trilium Notes
Categories=Office;Utility;
